@using BootstrapHtmlHelpersPackage.Extensions
@using SampleApplication.Web.Models
@using InputType = BootstrapHtmlHelpersPackage.Enums.InputType
@model SampleApplication.Web.Models.SampleModel

<h1>Bootstrap HTML Helpers Demo/Cheat Sheet</h1>
<hr />
<p class="lead">See /Models/SampleModel.cs to review any data annotations creating validation for these examples.</p>
<p class="lead">See <a href="https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations?view=netframework-4.7.1">System.ComponentModel.DataAnnotations Namespace</a> for documentation on data annotations.</p>
<p class="lead">See <a href="https://docs.microsoft.com/en-us/dotnet/api/system.web.mvc.htmlhelper?view=aspnet-mvc-5.2">HtmlHelper Class</a> for documentation on HTML helpers.</p>

<b>Dependencies</b>
<ul>
    <li><a href="https://dotnet.microsoft.com/en-us/download/dotnet-framework/net471">.NET Framework v4.7.1</a></li>
    <li><a href="https://getbootstrap.com/docs/4.6/getting-started/introduction/">Bootstrap v4.6</a></li>
    <li><a href="https://jquery.com/download/">jQuery v3.6</a></li>
    <li><a href="https://jqueryvalidation.org/">jQuery Validation v1.2</a></li>
    <li><a href="https://www.nuget.org/packages/Microsoft.jQuery.Unobtrusive.Validation">jQuery Validation Unobtrusive v4.0</a></li>
</ul>

<b>Table of Contents</b>
<ul>
    <li><a href="#Features">Features</a></li>
    <li class="list-unstyled">
        <ul>
            <li>Help Text</li>
            <li>Color</li>
        </ul>
    </li>
    <li><a href="#String">String</a></li>
    <li class="list-unstyled">
        <ul>
            <li>Text</li>
            <li>Email</li>
            <li>Tel</li>
            <li>Date (string)</li>
            <li>Password</li>
            <li>File</li>
            <li>Color</li>
        </ul>
    </li>
    <li><a href="#DateTime">DateTime</a></li>
    <li class="list-unstyled">
        <ul>
            <li>Date</li>
        </ul>
    </li>
    <li><a href="#Boolean">Boolean</a></li>
    <li class="list-unstyled">
        <ul>
            <li>Checkbox</li>
            <li>Radio</li>
        </ul>
    </li>
    <li><a href="#Dropdowns">Dropdowns</a></li>
    <li class="list-unstyled">
        <ul>
            <li>SelectList</li>
        </ul>
    </li>
</ul>

<p>Last updated 08/12/2022.</p>

<div id="Features" class="my-3">
    <h2>Features</h2>
    <hr />
    @using (Html.BeginForm())
    {
        <h4>Help Text</h4>
        @Html.FormGroupFor(x => x.NameHelpText, helpText: "We want to get to know you!")
        <pre>Html.FormGroupFor(x => x.NameHelpText, helpText: "We want to get to know you!")</pre>

    }
</div>

<div id="String" class="my-3">
    <h2>String</h2>
    <hr />
    @using (Html.BeginForm())
    {
        <h4>Text</h4>
        @Html.FormGroupFor(x => x.Name)
        <pre>Html.FormGroupFor(x => x.Name)</pre>

        <h4>Email</h4>
        @Html.FormGroupFor(x => x.Email, InputType.Email)
        <pre>Html.FormGroupFor(x => x.Email, InputType.Email)</pre>

        <h4>Tel</h4>
        @Html.FormGroupFor(x => x.PhoneNumber, InputType.Tel)
        <pre>Html.FormGroupFor(x => x.PhoneNumber, InputType.Tel)</pre>

        <h4>Date</h4>
        @Html.FormGroupFor(x => x.DateString, InputType.Date)
        <pre>Html.FormGroupFor(x => x.DateOfBirthString, InputType.Date)</pre>

        <h4>Password</h4>
        @Html.FormGroupFor(x => x.Password, InputType.Password)
        <pre>Html.FormGroupFor(x => x.Password, InputType.Password)</pre>

        <h4>File</h4>
        @Html.FormGroupFor(x => x.File, InputType.File)
        <pre>Html.FormGroupFor(x => x.File, InputType.File)</pre>

        <h4>Color</h4>
        @Html.FormGroupFor(x => x.Color, InputType.Color)
        <pre>Html.FormGroupFor(x => x.Color, InputType.Color)</pre>
    }
</div>

<div id="DateTime" class="my-3">
    <h2>DateTime</h2>
    <hr />
    @using (Html.BeginForm())
    {
        <h4>Date</h4>
        @Html.FormGroupFor(x => x.Date)
        <pre>Html.FormGroupFor(x => x.DateOfBirth)</pre>
    }
</div>

<div id="Boolean" class="my-3">
    <h2>Boolean</h2>
    <hr />
    @using (Html.BeginForm())
    {
        <h4>Checkbox</h4>
        @Html.FormGroupFor(x => x.CheckboxOption)
        <pre>Html.FormGroupFor(x => x.CheckboxOption)</pre>

        <h4>Radio</h4>
        @Html.FormGroupFor(x => x.RadioOption, InputType.Radio)
        <pre>Html.FormGroupFor(x => x.RadioOption, InputType.Radio)</pre>
    }
</div>

<div id="Dropdowns" class="my-3">
    <h2>Dropdowns</h2>
    <hr />
    @using (Html.BeginForm())
    {
        <h4>SelectList</h4>
        @Html.FormGroupFor(x => x.State, ListHelper.States, optionLabel: "Select a state")
        <pre>Html.FormGroupFor(x => x.State, SelectListHelper.States, optionLabel: "Select a state")</pre>
    }
</div>